.hero-banner {
    background-color: $light-background-color;
    padding: 50px 25px 70px 25px;
    text-align: center;
    margin-bottom: 20px;
    p {
        font-weight: 300;
        padding: 20px 0px 40px 0px;
    }
    a {
        display: inline-block;
        padding: 20px 30px;
        color: white;
        background-image: $bottom-gradient;
        border-radius: 50px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.26);
        transform: scale(1);
        transition: .3s ease-in-out;
        &:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.623);
            opacity: 0.85;
        }
    }
    @include tablet-only {
        background-image: url("../images/banner/ella-olsson-4dQiaWKiL-Y-unsplash.jpg");
        background-position: top 50% right 59%;
        background-size: 150%;
        background-repeat: no-repeat;
    }
    @include desktop-only {
        background-position: center;
        background-size: cover;
    }
}
.wrapper {
    max-width: 1300px;
    margin: auto; 
}
.grid {
    @include desktop-only {
        display: grid; 
        grid-template-columns: 2fr 4fr; 
        grid-template-rows: 4fr; 
        grid-column-gap: 25px;
        margin-bottom: 80px;
    }  
}
.functionalities {
    h2 {
        padding: 40px 25px;
    }
    ol {
        padding: 0px 25px 45px 0px;
        @include tablet-only {
            display: flex;
        }
        @include desktop-only {
            flex-direction: column;
        }
    }
    &__step {
        display: flex;
        align-items: center;
        position: relative;
        background-color: $light-background-color;
        font-weight: 500;
        padding: 30px 20px;
        margin: 0px 0px 30px 40px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.26);
        border-radius: 25px;
        flex: 1;
        span {
            position: absolute;
            left: -15px;
            color: white;
            font-weight: 400;
            padding: 5px 11px;
            background-color: $primary-color;
            border-radius: 50%;
        }
        i {
            font-size: 1.1rem;
            padding: 0px 20px 0px 15px;
        }
    }
    &--hilight {
        background-color: $hilight-background-color;
        i {
            color: $primary-color;
        }
    }
    @include desktop-only {
        grid-area: 1 / 1 / 2 / 2;
    }
}
.restaurants {
    background-color: $light-background-color;
    padding: 25px 25px 80px 25px;
    h2 {
        padding: 40px 0px;
    }
    &__grid {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(4, 1fr); 
        grid-row-gap: 30px;
        @include tablet-only {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 30px;
        }
    }
    &__card {
        position: relative;
        width: auto;
        height: 250px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.26);
        transform: scale(1);
        transition: .3s ease-in-out;
        overflow: hidden;
        border-radius: 15px;
        img {
            position: absolute;
            object-fit: cover;
            height: 70%;
            width: 100%;
        }
        &:hover {
            transform: scale(1.03);
        }
    }
    span {
        position: absolute;
        top: 15px;
        right: 15px;
        color: $advertising-color;
        font-size: 0.9rem;
        font-weight: 500;
        padding: 8px 15px;
        background-color: $tertiary-color;
        border-radius: 3px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.26);
    }
    &__description {
        position: absolute;
        height: 30%;
        width: 100%;
        bottom : 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        padding: 13px 25px 13px 15px;
    }
    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            font-weight: 300;
        }
    }
    &__notation {
        display: flex;
        align-items: center;
        i {
            font-size: 1.4rem;
            font-weight: bold;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1.3px black;
            background-size: 100% 200%;
            background-position: 0 -100%;
            background-image: $top-gradient;
            background-clip: text;
            transition: all 1s ease;
            &:hover {
                background-position: 0 0;
                -webkit-text-stroke: 1.3px white;
            }
        }
    }
    @include desktop-only {
        grid-area: 1 / 2 / 2 / 3;
        background-color: unset;
        padding-top: 0px;
    }
}