@keyframes loader {
    0% {
        visibility: visible;
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes slide {
    0% {
      transform: scale(1);
    }
    50% {
      opacity: 0.3;
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
}
.loader {
    z-index: 999;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.959);
    visibility: hidden;
    animation: loader 3s ease-in;
    &__dot {
        width: 24px;
        height: 24px;
        background: #3ac;
        border-radius: 100%;
        display: inline-block;
        animation: slide 1s infinite;
        &:nth-child(1) {
            animation-delay: 0.1s;
            background: #9356dc;
        }
        &:nth-child(2) {
            animation-delay: 0.2s;
            background: #b35cdc;
        }
        &:nth-child(3) {
            animation-delay: 0.3s;
            background: #cf64dc;
        }
        &:nth-child(4) {
            animation-delay: 0.4s;
            background: #e86edb;
        }
        &:nth-child(5) {
            animation-delay: 0.5s;
            background: #ff79da;
        }
    }
}
.homepage-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 7px 0px rgba(17, 17, 17, 0.555);  
    img {
        height: 70px;
        padding: 20px 20px;
    }
}
.location {
    display: flex;
    justify-content: center;
    padding: 25px 25px;
    background-color: $medium-background-color;
    input {
        all: unset;
        width: 140px;
        padding-left: 15px;
        &::placeholder {
            color: black;
        }
    }
}
.hero-banner {
    background-color: $light-background-color;
    padding: 50px 25px 70px 25px;
    text-align: center;
    margin-bottom: 20px;
    p {
        font-weight: 300;
        padding: 20px 0px 40px 0px;
    }
    a {
        display: inline-block;
        padding: 20px 30px;
        color: white;
        background-image: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
        border-radius: 50px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.26);
        transform: scale(1);
        transition: .3s ease-in-out;
        &:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.623);
            opacity: 0.85;
        }
    }
}
.functionalities {
    h2 {
        padding: 40px 25px;
    }
    ol {
        padding-bottom: 45px;
    }
    &__step {
        display: flex;
        align-items: center;
        position: relative;
        background-color: $light-background-color;
        font-weight: 500;
        padding: 30px 20px;
        margin: 0px 25px 30px 40px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.26);
        border-radius: 25px;
        span {
            position: absolute;
            left: -15px;
            color: white;
            font-weight: 400;
            padding: 5px 11px;
            background-color: $primary-color;
            border-radius: 50%;
        }
        i {
            font-size: 1.1rem;
            padding: 0px 20px 0px 15px;
        }
    }
    &--hilight {
        background-color: #F2EBFE;
        i {
            color: $primary-color;
        }
    }
}
.restaurants {
    background-color: $light-background-color;
    padding: 25px 25px 80px 25px;
    h2 {
        padding: 40px 0px;
    }
    &__grid {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(4, 1fr); 
        grid-row-gap: 30px;
    }
    &__card {
        position: relative;
        width: auto;
        height: 250px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.26);
        transform: scale(1);
        transition: .3s ease-in-out;
        overflow: hidden;
        border-radius: 15px;
        img {
            position: absolute;
            object-fit: cover;
            height: 70%;
            width: 100%;
        }
        &:hover {
            transform: scale(1.03);
        }
    }
    span {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #3D8B70;
        font-size: 0.9rem;
        font-weight: 500;
        padding: 8px 15px;
        background-color: $tertiary-color;
        border-radius: 3px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.26);
    }
    &__description {
        position: absolute;
        height: 30%;
        width: 100%;
        bottom : 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        padding: 13px 25px 13px 15px;
    }
    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            font-weight: 300;
        }
    }
    &__notation {
        display: flex;
        align-items: center;
        i {
            font-size: 1.4rem;
            font-weight: bold;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1.3px black;
            background-size: 100% 200%;
            background-position: 0 -100%;
            background-image: linear-gradient(to top, transparent 45%, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
            background-clip: text;
            transition: all 1s ease;
            &:hover {
                background-position: 0 0;
                -webkit-text-stroke: 1.3px white;
            }
        }
    }
}
footer {
    background-color: $dark-background-color;
    padding: 30px 25px;
    h3, li, a {
        color: white;
    }
    h3 {
        font-family: 'Shrikhand', sans-serif;
        padding-bottom: 20px;
    }
    li {
        padding-bottom: 10px;
        i {
            padding-right: 10px;
        }
        .fa-hands-helping {
            font-size: 12px;
        }
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}