footer {
    background-color: $dark-background-color;
    padding: 30px 25px;
    h3, li, a {
        color: white;
    }
    h3 {
        font-family: 'Shrikhand', sans-serif;
        padding-bottom: 20px;
    }
    li {
        padding-bottom: 10px;
        i {
            padding-right: 10px;
        }
        .fa-hands-helping {
            font-size: 12px;
        }
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}